Options +FollowSymLinks
IndexIgnore */*

# .htaccess main domain to subdirectory redirect

# Do not change this line.

RewriteEngine on

RewriteCond %{HTTP_HOST} ^sonyvisual.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.sonyvisual.com$
RewriteRule (.*)$ https://admin.sonyvisual.com/$1 [R=301,L]